.cozybnb {
    font-size: 250%;
    
    font-style: none;
    color: red;
    text-decoration: none;

}

.menu-li {
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 1300px;
}