.cozybnb {
    font-size: 250%;
    font-style: none;
    color: red;
    text-decoration: none;
    // margin-right: -100%;
    margin-left: -155vh;
    margin-bottom: 2vh;

}

.menu-li {
//   padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: -100%;
  padding-top: 1vh;
}
.menu-li2 {
//   padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: -100%;
  padding-top: 1vh;
}

#hellobob {
    margin-bottom: -2vh;

}

.pf-ask {
    margin: 0%;
}

.headerstyle {
    border-width: 5px;
    border-bottom-style: ridge;
        
}