.cozybnb {
    font-size: 250%;
    font-style: none;
    color: red;
    text-decoration: none;
    margin-right: -100%;
    margin-left: -1270%;
    margin-bottom: -50%;

}

.menu-li {
//   padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: -13%;
}

#hellobob {
    margin-bottom: -2%

}

.pf-ask {
    margin: 0%;
}