.homes-div {
  display: flex;
}

.home-name {
  font-size: 15px;
}
.home-name:hover {
  cursor: pointer;
  background-color: beige;
}

.home-info {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: lighter;
  color: grey;
}

.indiv-home {
  width: 100%;
  margin-left: 40px;
  padding: 5px;
}

.indiv-home-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px;
}

.indiv-home:hover {
  transform: scale(1.01);
  transition: all 0.7s ease;
}

.home-price {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  margin-top: -15%;
  margin-left: 85%;
  padding-bottom: 15%;
}

.indiv-photo-index {
  border-radius: 5%;
  outline: none;
  width: 35vh;
  height: 30vh;
};

.star {
  color: rgb(242, 88, 88);
  padding-right: 10px;
}

.details {
  width: 100%;
  padding-left: 5%;
  padding-top: 3%;
}
.inner-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-show-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 2vh;
}

.home-top {
  margin-bottom: 50px;
}

.home-show-rating {
  display: flex;
  font-size: 15px;
  padding-top: 5px;
  margin-left: 1vh;
}

.home-show-desc-p {
  font-size: 15px;
}

.home-show-info {
  height: 300px;
  width: 60%;
  margin-top: 50px;
  margin-bottom: -13vh;
}

.home-show-info-container {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  width: 100%;
  height: 100%;
}

.home-bedroom,
.home-common {
  height: 80px;
  width: 100px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: left;
  padding: 20px;
  font-size: 15px;
}

.amenities {
  width: 100%;
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  font-size: 18px;
  font-weight: 200;
}

.home-top-pics {
  display: flex;
}

.home-show-pic {
  width: 100%;
  height: 100%;
}
.home-first-pic {
  width: 100vh;
}

.home-bottom-pics {
  display: flex;
  margin-right: 52.7vh;
}

.titlehome {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 20px;
}

.textinfos {
  padding-bottom: 10px;
}

.amenities {
  padding-right: 15px;
}

.descamen {
  padding-right: 10px;
}

.amenities-2 {
  padding-left: 5px;
}

.create-review {
  margin-left: 439px;
  margin-top: -450px;
}

.home {
  margin-right: 418px;
}