.google-map {
  width: 60vh;
  height: 70vh;
//   right: 0;
//   margin-left: 40%;
  padding-left: 20vh;
  // position: fixed;

}

.show-google-map {
  width: 80%;
  height: 450px;
}

// html,
// body {
//   height: 100%;
//   margin: 0px;
//   padding: 0px;
// }

.homes-right {
  margin-top: 2vh;
}
