.google-map {
  width: 750px;
  height: 750px;
//   right: 0;
  margin-left: 40%;
  // position: fixed;

}

.show-google-map {
  width: 80%;
  height: 450px;
}

// html,
// body {
//   height: 100%;
//   margin: 0px;
//   padding: 0px;
// }
