.booking-form-container {
  display: flex;
  flex-direction: column;
}

.calendar-container {
}

.calendar {
  border-radius: 10px;
}

.num-guests-container {
}

.num-of-guests {
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.num-of-guests:focus {
    outline: 0;
  }

.total-cost-container {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid lightgray;
}

.total-cost {
  font-size: 17px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.total-cost-text {
  margin-left: 20px;
}

.total-cost-price {
  margin-right: 20px;
}

.book-listing-button {
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  padding: 14px 24px;
  width: 200px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

.book-listing-button:active {
  transform: translateY(4px);
}

.booking-form-errors {
  color: red;
  margin-bottom: 10px;
}
