.login-container,
.signup-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  min-height: 50vh;
  min-width: 28vw;
}

.create-listing-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  min-height: 50vh;
  width: 40vw;
  overflow: auto;
  max-height: 80vh;
  position: relative;
}

.listings-spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.listings-spinner {
  animation-name: rotate;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-right: 4%;
  margin-bottom: 2%;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  display: none;
}

.modal-loading {
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
}

.container-loading {
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.login-form,
.signup-form,
.listing-form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.login-button,
.signup-button,
.create-listing-button,
.leave-review-button {
  height: 4vh;
  align-self: center;
  width: 80%;
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  border-radius: 10px;
  color: white;
  font-size: 15px;
  margin-top: 3%;
  border: none;
}

.signup-button,
.incomplete-form-button {
  margin-bottom: 5%;
  margin-top: 4%;
  cursor: pointer;
}

.create-listing-button {
  margin-bottom: 5%;
  cursor: pointer;
}

.incomplete-form {
  opacity: 0.5;
  cursor: not-allowed;
}

.demo-button {
  height: 4vh;
  align-self: center;
  width: 60%;
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  border-radius: 10px;
  color: white;
  font-size: 15px;
  margin-top: 3%;
  border: none;
}

#rounded-email {
  border-top: 1px solid rgb(173, 170, 170);
  margin-top: 5px;
}

#rounded-email,
#rounded-title {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

#rounded-password,
#rounded-price {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

#rounded-title {
  border-top: 1px solid rgb(173, 170, 170);
}

.login-input,
.signup-input,
.listing-input {
  height: 5vh;
  width: 90%;
  align-self: center;
  border: 1px solid rgb(173, 170, 170);
  border-top: none;
}

.file-input-container {
  align-self: center;
  margin: 5px;
  input {
    display: none;
  }
}

.input-label-listing {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
  cursor: pointer;
  padding: 5px;
}

.input-label-listing:hover {
  transition: 0.5s;
  background-color: rgba(214, 30, 76, 0.39);
  border-radius: 10px;
}

.login-welcome {
  text-align: center;
  font-size: 35px;
  margin-top: 8%;
  margin-bottom: 15%;
}

.create-listing-h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 5%;
}

.signup-welcome {
  text-align: center;
  font-size: 35px;
  margin-top: 6%;
  margin-bottom: 8%;
}

.close-x {
  margin-top: 4%;
  margin-left: 4%;
  position: absolute;
  cursor: pointer;
}

textarea {
  resize: none;
}

.errors-ul {
  margin-bottom: 8px;
  text-align: center;
  color: red;
}

.listing-errors {
  margin-top: 10px;
  text-align: center;
  color: red;
}

.review-form-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  min-height: 50vh;
  min-width: 35vw;
  align-items: center;
}

.create-review-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  width: 95%;
  align-self: center;
  justify-content: center;
  position: relative;
}

.remove-preview-image-x {
  position: absolute;
  cursor: pointer;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 10px;
  background-color: lightgray;
}

.remove-preview-image-x:hover {
  border: 1px solid lightgray;
  background-color: rgb(68, 68, 68);
  .listing-preview-delete-icon {
    color: lightgray;
  }
}

.listing-preview-delete-icon {
  color: gray;
}

.listing-image-preview {
  border-radius: 10px;
}

.session-error-li {
  margin-bottom: 5px;
}
