.not-found-flex-container,
.no-listings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.not-found-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: rgb(0, 0, 0);
    min-width: 800px;
    padding-top: 10%;
}

.not-found-404 {
    font-size: 100px;
    font-weight: 300;
}

.not-found-text {
    font-size: 100px;
    font-weight: 300;
}

.no-listings {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(0, 0, 0);
    min-width: 800px;
}

.no-listings-text {
    font-size: 70px;
    font-weight: 300;
}

.no-listings-sad-face {
    color: black;

}