.splash-container {
  top: -75px;
  background-position-x: left;
  background-position-y: top;
  background-repeat: no-repeat;
  position: relative;
  overflow-x: hidden;
}

.bg-img-container {
  height: 750px;
}

.bg-img {
  width: 100vw;
  height: 750px;
}

.flexible-container {
  position: absolute;
  top: 25%;
  left: 50%;
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  transform: translate(-50%, -50%);
}

.flexible-text-container {
  display: flex;
  justify-content: center;
}

.flexible-text {
  font-size: 30px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.flexible-button-container {
  display: flex;
  justify-content: center;
  
  
  margin-top: 18px;
}

.flexible-button {
  font-size: 20px;
  font-weight: 700;
  background-color: white;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 30px;
  width: 180px;
  text-align: center;
  color: rgb(103, 1, 143);
  border: 2px solid;
}

.flexible-button:active {
  transform: translateY(4px);
}

.explore-container-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.explore-container,
.explore-h3-container {
  width: 83%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.explore-h3-container {
  margin-bottom: 20px;
}

.explore-h3 {
  font-size: 30px;
  font-weight: 700;
}

.explore-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 8px;
  row-gap: 30px;
  justify-items: center;
}

.explore-location {
  width: 147px;
  height: 53px;
  display: flex;
  align-items: baseline;
  gap: 153px;
}

.location-img {
  height: 132px;
  width: 132px;
  border-radius: 10px;
}

.explore-location-text {
  color: black;
  font-size: 20px;
  font-weight: 500;
  display: grid;
  align-items: center;
  gap: 11px;
}

.try-hosting-container-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.try-hosting-container {
  width: 83%;
  position: relative;
  text-align: center;
}

.try-hosting-img-container {
  width: 100%;
  background-color: rgb(75, 75, 75);
  border-radius: 20px;
}

.try-hosting-img {
  width: 100%;
  border-radius: 20px;
  opacity: 0.8;
}

.try-hosting-text-container {
  position: absolute;
  top: 30%;
  left: 7%;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 300px;
}

.try-hosting-h3 {
  font-size: 50px;
  font-weight: 700;
  color: white;
  margin-bottom: 15px;
}

.try-hosting-text {
  font-size: 16px;
  font-weight: 500;
  color: white;
  width: 300px;
  margin-bottom: 10px;
}
