.user-review-container {
  display: flex;
  gap: 10px;
}

.review-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
}

.review-cancel-edit {
  position: absolute;
  left: 5%;
  top: 5%;
  cursor: pointer;
  text-decoration: underline;
}

.user-review-listing-photo-container {
  margin-left: 20px;
}

.user-review-listing-photo {
  height: 43px;
  width: 43px;
  border-radius: 50%;
}

.user-review-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-review-listing-title-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-review-listing-title {
  font-size: 17px;
  font-weight: 700;
  color: rgb(58, 58, 58);
}

.user-review-body-container {
  margin-top: 15px;
}

.user-review-body {
  color: rgb(66, 66, 66);
}
.user-review-created-at-container {
  margin-top: 15px;
}

.user-review-created-at {
  color: rgb(114, 114, 114);
}

.review-edit-delete-button-container {
  align-self: flex-end;
  display: flex;
  gap: 50px;
  margin-right: 5%;
}

.edit-review-button {
  cursor: pointer;
  background-color: rgb(102, 102, 102);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}
.delete-review-button {
  align-self: center;
  text-decoration: underline;
  cursor: pointer;
}
